:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --hover-text-color: #404BBF
  }




body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: calc(21/18);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-part {
    color: #2E2F42;
}

.site-nav .link {
    color: #000000
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:#404BBF
}

.address-link {
    color: var(--primary-text-color);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* Hero */

.hero-title {
    /* color:#FFFFFF */
}

/* Section */
.section-title {
    color: var(--title-text-color);
}

/* Features */

.section-title .title {
    color: var(--title-text-color)
}




